<svg height="0" width="0" style="position: absolute; width: 0; height: 0; overflow: hidden;" viewBox="0 0 0 0" xmlns="http://www.w3.org/2000/svg">
    {{#svgs}}
    <symbol id="{{name}}">
        {{{paths}}}
    </symbol>
    {{/svgs}}
</svg>
